
.icon-air-craft:before { content: '\e800'; } /* '' */
.icon-safe-vault:before { content: '\e801'; } /* '' */
.icon-warning:before { content: '\e802'; } /* '' */
.icon-piggy-bank:before { content: '\e803'; } /* '' */
.icon-diagram:before { content: '\e804'; } /* '' */
.icon-package:before { content: '\e805'; } /* '' */
.icon-idea:before { content: '\e806'; } /* '' */
.icon-go-up:before { content: '\e807'; } /* '' */
.icon-lock-lock:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-wallet:before { content: '\e80a'; } /* '' */
.icon-to-bit:before { content: '\e80b'; } /* '' */
.icon-transfer:before { content: '\e80c'; } /* '' */
.icon-exchange:before { content: '\e80d'; } /* '' */