.training{
	background: #b9dbf0;
	background-image: url('../../assets/trainings/trainingBack.jpg');
	background-repeat: repeat-y;
	background-size: 100% auto;
	.base-title{
		width: 572px;
		height: 114px;
		font-family: PingFangSC;
		font-size: 36px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.58;
		letter-spacing: normal;
		color: #00293f;
		margin: auto;
	}
	.title-container{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		height: 300px;
		width: 700px;
		padding-top: 90px;
	}
	.trangle-holder{
		&.left{
			position: absolute;
			top: 20px;
			transform: rotateZ(90deg);
			left: 0;
		}
		&.right{
			position: absolute;
			transform: rotateZ(270deg);
			bottom: 20px;
			right: 0;
		}
	}
	.trangle {
		width: 0;
		height: 0;
		transform: skewX(26deg);
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-bottom: 80px solid #ffc175;
	  }
	.step {
		width: 100%;
		text-align: center;
		height: 71px;
		font-family: Rubik;
		font-size: 60px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		transform: translateY(100px);
	}
	.right-top,.right-middle,.right-bottom{
		img{
			height: 100%;
			width: 100%;
		}
	}
	.content{
		margin-top: -2px;
		position: relative;
		height: 846px;
		width: 301px;
		background-color: #0484cb;
		img{
			width: 174px;
			margin-left: -87px;
			left: 50%;
			position: absolute;
			top: 80px;
		}
		span{
			display: block;
		}
		.step-info{
			width: 226px;
			font-family: PingFangSC;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #ffffff;
			position: absolute;
			top: 360px;
			left: 50%;
			transform: translateX(-50%);
		}
		a{
			color: #ffc175;
		}
		.spectial{
			padding-top: 30px;
			color: #ffc175;
		}

		.last-img{
			top: 40px;
		}
	}
	.right-pointer{
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: #0484cb;
		transform: rotateZ(45deg);
		right: -10px;
		top: 4px;
	}
	.bottom-pointer{
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: #0484cb;
		transform: rotateZ(45deg);
		margin-left: -20px;
		left: 50%;
		bottom: -10px;
	}
.container{
	margin: auto;
	position: relative;
	width: 1028px;
	height: 861px;
	.Combined-Shape {
		
		width: 316px;
		height: 861px;
		float: left;
	}
	.right-top {
		width: 708px;
		height: 411px;
		background-color: #d8d8d8;
		position: absolute;
		right: 0;
		top: 0;
	}
	.right-bottom {
		width: 708px;
		height: 411px;
		position: absolute;
		right: 0;
		bottom: 15px;
		background-color: #ffffff;
	}
}
.gap{
	height: 130px;
	width: 1024px;
	margin: auto;
	position: relative;
	.dashed-border{
		position: absolute;
		left: 0;
		width: 140px;
		height: 100%;
		border-right: 4px dashed #0484cb;
	}
	
}
.container-large{
	margin: auto;
	position: relative;
	width: 1028px;
	height: 1290px;
	.content{
		position: relative;
		height: 1275px;
		width: 301px;
		background-color: #0484cb;
	}
	.Combined-Shape {
		width: 316px;
		height: 1290px;
		float: left;
	}
	.right-middle {
		width: 708px;
		height: 411px;
		background-color: #d8d8d8;
		position: absolute;
		right: 0;
		top: 433px;
	}
	.right-top {
		width: 708px;
		height: 411px;
		background-color: #ffffff;
		position: absolute;
		right: 0;
		top: 0;
	}
	.right-bottom {
		width: 708px;
		height: 411px;
		position: absolute;
		right: 0;
		bottom: 15px;
		background-color: #ffffff;
	}
}
}

