.detail {
	width: 1280px;
	margin-top: 50px;
	overflow: hidden;
	box-sizing: border-box;
	a{
		color: #ff9143;
		text-decoration: underline;
		&:hover{
			color: #ff9143;
		}
	}
	.button{
		&.primery-button{
			border-radius: 4px;
			padding-left: 30px;
			padding-right: 30px;
			background-image: linear-gradient(107deg, #ffc478, #ff9143);
			span{
				vertical-align: middle;
			}
			&.waiting{
				border: 1px solid #e7ac5f;
				background: transparent;
				background-image: none;
				color: #e7ac5f;
				padding-left: 50px;
				padding-right: 50px;
			}
			&.pre{
				border: 1px solid #e7ac5f;
				background: transparent;
				background-image: none;
				color: #e7ac5f;
				padding-left: 50px;
				padding-right: 50px;
			}
			&.reject{
				border: 1px solid #666;
				background: transparent;
				background-image: none;
				color: #666;
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
	.left-part{
		width: 60%;
		float: left;
		position: relative;
		box-sizing: border-box;
	}
	.right-part{
		width: 40%;
		float: left;
		box-sizing: border-box;
	}

	.title{
		height: 45px;
		object-fit: contain;
		
		font-weight: 500;
		color: #ffffff;
		.main{
			font-size: 32px;
		}
		.sub{
			margin-left: 10px;
			font-size: 18px;
			width: 102px;
			height: 25px;
			object-fit: contain;
			color: #ff9143;
			&.finish{
				color: #666;
			}
		}
	}
	.kyc-btn-holder{
		margin-top: 16px;
	}
	.can-not-reserve{
		background: transparent;
		background-image: none !important;
		color: #666;
		border: #666 1px solid;
	}
	.info-item{
		object-fit: contain;
		font-size: 14px;
		color: #ffffff;
		line-height: 1.5;
		position: relative;
		.info-title{
			text-align: justify;
		}
		.info-detail{
			width: 80%;
		}
	}
	.large-time{
		font-size: 20px;
		color: #ff9143;
		font-weight: 800;
		margin-top: 10px;
		.info-detail{
			width: auto;
			margin-right: 5px;
		}
		.icon-time{
			width: 22px;
			height: 22px;
			margin-bottom: 3px;
			margin-right: 5px;
		}
	}
	


	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 5em;
	width: 90%;
	margin: auto;
	break-inside: avoid;
	img{
		margin: auto;
		margin-bottom: 20px;
		width: 90%;
	}
	
	// box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	color: #fff;
		.title{
			color: #fff;
		}
		
		.info-item{
			overflow: hidden;
			.info-title{
				float: left;
				font-weight: bold;
			}
			.info-detail{
				float: left;
				padding-left: 10px;
			}
		}
		.info-text{
			float: left;
			width: 20%;
			text-align: left;
			padding-left: 10px;
			color: #ff9143;
		}
		.percent{
			float: left;
			width: 80%;
			height: 10px;
			position: relative;
			padding: 2px;
			box-sizing: border-box;
			margin-top: 5px;
			border-radius: 5px;
			box-shadow: 0 0 10px #000 inset;
			overflow: hidden;
			margin-bottom: 10px;
			.percent-in{
				position: absolute;
				height: 6px;
				width: 30%;
				border-radius: 3px;
				background: linear-gradient(to right, #e7ac5f , #e76536);
				&.finish{
					background: linear-gradient(to right, #999 , #ddd);
				}
			}
		}
		
		.button-holder{
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}