.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.en {
    .left-part {
      width: 60%;
      position: relative;
      box-sizing: border-box;
      .info-title {
        text-align: justify;
      }
      .info-detail {
        width: 80%;
      }
    }
    .right-part {
      width: 40%;
      box-sizing: border-box;
      .info-title {
        text-align: justify;
        // width: 30%;
      }
      .info-detail {
        // width: 70%;
      }
    }
  }
  &.zh {
    .left-part {
      width: 60%;
      position: relative;
      box-sizing: border-box;
      .info-title {
        text-align: justify;
      }
      .info-detail {
        width: 80%;
      }
    }
    .right-part {
      width: 40%;
      box-sizing: border-box;
      .info-title {
        text-align: justify;
        width: 25%;
        max-width: 100px;
        // span{

        // 	&:after{//文字两端对齐
        // 		content: '';
        // 		display: inline-block;
        // 		padding-left: 99%;
        // 	}
        // }
      }
      .info-detail {
        width: 75%;
      }
    }
  }
  &.en,
  &.zh {
    padding: 0;
    .left-part,
    .right-part {
      min-width: 350px;
      float: none;
			flex: 1;
			padding-top: 2em;
    }
    .separate {
      width: 1em;
    }
    .right-part {
      display: table;
      .info-item {
        display: table-row;
        & > * {
          display: table-cell;
          padding: 0.3em 0;
        }
        .info-title::after {
          content: ":";
        }
        .info-title {
          min-width: 9em;
          text-align: left;
        }
        .info-detail {
          text-align: justify;
          vertical-align: bottom;
        }
      }
    }
  }
  &.en {
  }
  &.zh {
    .right-part {
      display: table;
      .info-item {
        display: table-row;
        & > * {
          display: table-cell;
        }
        .info-title::after {
          content: ":";
        }
        .info-title {
          min-width: 9em;
        }
        .info-detail {
          text-align: justify;
        }
      }
    }
  }
  .title {
    height: unset;
    white-space: nowrap;
    > span:not(.main) {
      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
  }
}
