@import "./../base/mixins";
@import "./size";
.page-layout {
  > .grid-block {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    > .grid-content,
    > .grid-block {
      padding: 10px;
    }
  }
  .left-column {
    background-color: #fafafa;
  }
  .main-content {
    padding: 1em 0;
    background-color: #f3f3f3;
  }
  .right-column {
    background-color: #eaeaea;
  }
  .regular-padding {
    padding: 1rem 1.75rem 1rem 1.75rem !important;
  }
}

.vertical-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#account-notify {
  position: absolute;
  top: auto !important;
  right: 0.5em;
  width: 30em;
}

@media (max-width: 1100px) {
  .hide-column-small {
    display: none !important;
  }
}

@media (max-width: 1300px) {
  .hide-column-large {
    display: none !important;
  }
}

div.bordered-header {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding-left: 10px;
  padding-top: 0.55rem;
  font-weight: 500;
  overflow: hidden;
}

.exchange-bordered {
  border: 1px solid rgba(183, 183, 183, 0.29);
  div:first-child & {
    // margin: 0 10px 0 10px;
  }
  div:last-child & {
    // margin: 0 10px 0 10px;
  }
}

.generic-bordered-box {
  //border: 1px solid rgba(183, 183, 183, 0.29);
  .box-content {
    //padding-left: 10px;
  }
}

.block-content-header {
  font-size: 1.4375rem;
  padding: 0.5rem 0;
  @include breakpoint(small only) {
    font-size: 1.125rem;
  }
}

.table-cell {
  display: table-cell;
}

.grid-content.app-tables {
  box-sizing: border-box;
  padding: 0px;
  min-height: 100%;
  position: relative;
}

.grid-content.app-tables > .content-block,
.grid-content.app-tables > .content-block > .generic-bordered-box,
.grid-content.app-tables
  > .content-block
  > .generic-bordered-box
  > .overview-tabs {
  height: 100%;
}

.grid-content.app-tables > .content-block {
  margin-bottom: 0 !important;
}

.welcome-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  .bg {
    flex: 1 1 auto;
    background-image: url("./../background.jpg");
    background-position: center center;
    background-size: cover;
    padding: 1em;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    .slogan {
      text-align: center;
      font-size: 2.6em;
      text-shadow: 0 0 3px #000;
      line-height: 1.2;
    }
    .button {
      padding: 1.2em 2.8em;
      margin: 0;
    }
  }
  .bottom-zone {
    background-color: #ffffff;
    color: #182122;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    .card-custom {
      text-align: center;
      margin: 1em 2em;
    }
    .card-image {
      img {
        width: 140px;
      }
    }
    @media screen and (max-width: $size-medium) {
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: auto;
    }
  }
}

.readable {
  max-width: 70em;
}

.left-panel {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.5);
}

// Main Nav on the left
.nav {
  // font-size: 85%;
  // padding: 1.4em 1em;
  @include display-flex($flex-wrap: nowrap);
  // @include flex(0, 0, $flex-basis: $width-nav);
  @media screen and (max-width: $size-medium) {
    display: none;
  }

  &.nav-hor {
    &,
    .nav-items {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      & > a {
        height: 56px;
        position: relative;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: opacity 0.3s;
          height: 0.3334rem;
          width: 5.3334rem;
          content: "";
          opacity: 0;
          border-radius: 4px 4px 0 0;
        }
        &.active::after {
          opacity: 1;
        }
        .explorer-nav {
          grid-template: repeat(3, 2em) / repeat(2, minmax(9em, 12em));
          padding: 1em;
          display: none;
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          align-items: center;

          opacity: 0.8;
          &:hover {
            opacity: 1;
          }
          a {
            line-height: 1;
          }
        }
        // Sub
        &:hover {
          .explorer-nav {
            display: grid;
          }
        }
      }
    }
  }
  margin: 2px;
  margin-left: 0;
  &:not(.expand) {
    max-height: 85vh;
  }
  .nav-items {
    height: 100%;
    display: flex;
    flex-direction: column; // @media screen and (max-aspect-ratio: 1/1) {
  }
  .nav-link {
    & + .nav-link {
      margin-top: 2em;
    }
  }
  .nav-item {
    text-transform: uppercase;
    text-align: center;
    [class^="icon"] {
      font-size: 3.6em;
    }
    .nav-title {
      margin-top: 4px;
    }
  } // 普通模式下fix在窗口左侧
  // 鼠标划过时展开，否则自动隐藏
  position: fixed;
  z-index: 100;
  transform: translateX(-100%);
  &:hover {
    transform: translateX(0);
  }
  &.expand {
    transform: translateX(0);
    position: relative;
    left: 0;
    top: 0;
    margin: 1px;
    .nav-toggle {
      margin-left: -20px;
    }
  }
  &::after {
  }
  .nav-toggle {
    width: 22px;
    height: 20px;
    position: absolute;
    left: 100%;
    top: 140px;
    margin-top: -10px;
    margin-left: -12px;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 0 2px black;
    line-height: 20px;
    text-align: center;
    z-index: -1;
    font-size: 16px;
  }
}

.currency-table {
  .table-cell {
    height: 3em;
    line-height: 3;
  }
}

.with-shadow {
  margin: 2px;
}

.transition {
  transition: all 0.4s;
}

.show-for-small-only:not(.ng-hide) {
  display: none !important;
  @media screen and (max-width: $size-medium) {
    display: block !important;
  }
}

.margin-column {
  @media screen and (min-width: $size-medium) {
    margin-left: $space-between;
  }
}

.grid-content .grid-block.full-container {
  margin-left: 0;
  margin-right: 0;
}

.switch-container {
  line-height: 30px;
}

.grid-x-padding {
  [class^="small-"],
  [class^="medium-"],
  [class^="large-"] {
    &:not(:first-of-type) {
      padding-left: 1em;
    }
  }
}

.create-password {
  label {
    line-height: 1.4;
  }
  padding: 1em;
}

#context-hub {
  padding: 0 10px;
  &,
  .explorer-nav {
    display: flex;
    flex-grow: 1;
  }
  .explorer-nav {
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.8);
  }
}

.explorer-nav {
  & > a {
  }
}

.header {
  align-items: stretch;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // .modal-content {
    //   max-height: 70vh;
    //   overflow-y: auto !important;
    // }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}

.overlay.fade-in {
  animation: fadeIn 300ms ease-in-out;
}

.overlay.fade-out {
  animation: fadeOut 300ms ease-in-out;
  opacity: 0;
}

.modal {
  max-height: 90vh;
  overflow-y: auto;
  .error-wrapper {
    margin-top: 10px;
  }
  .modal-header {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .modal-footer {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  }
}

.contact-wrapper {
  margin: auto;
  .contact-title {
    margin-bottom: 1em;
  }
  table {
    td {
      padding: 0.6em 1.2em;
      padding-bottom: 2em;
      vertical-align: top;
    }
    p {
      margin-bottom: 0.4em;
    }
  }
  .bigger {
    font-size: 1.4em;
  }
}

.game-modal {
  p {
    text-align: justify;
  }
}

.margin-top {
  margin-top: 6px;
}

.use-cyb {
  justify-content: space-between;
  align-items: center;
  padding-right: 6px;
}

.table-backup {
  line-height: 1.5;
  margin: 1em;
}

.margin-left {
  margin-left: 1em;
}

.table.asset-table {
  table-layout: fixed;
  thead,
  tbody {
    td,
    th {
      text-align: right;
      &:first-child {
        text-align: left;
      }
    }
  }
}
.captcha {
  display: flex;
  .SVGInline,
  svg {
    height: 40px;
  }
}

a {
  user-select: none;
}

.cybex-layout {
  display: flex;
  display: grid;
  flex-direction: column;
  grid-template-rows: 4.6667rem 1fr 2.5rem;
  grid-template-columns: 5.3334rem 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
  height: 100vh;
  & > .header {
    grid-area: header;
  }
  & > .main-body {
    padding: 2px;
    grid-area: main;
    overflow-y: auto;
    flex-grow: 1;
  }
  & > .nav {
    grid-area: nav;
  }
  & > .footer {
    grid-area: footer;
  }
}
.gateway-table {
  td,
  th {
    border: 0;
  }
}

.page-layout {
  height: 100%;
}
.volume-wrapper {
  @media screen and (max-width: 75em) {
    display: none !important;
  }
}

#mobile-menu {
  z-index: 300;
}
