.table-toggable {
    .entry-main, .entry-sub {
        &>td:first-child {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 4px;
                border: 0;
            }
        }
    }
}