.cybex-records {
  .ReactTable .-pagination input,
  .ReactTable .-pagination select {
    background: inherit;
  }

  input,
  select {
    margin-bottom: 0;
  }
  .ReactTable .-pagination .-btn {
    color: #eee;
  }

  .ReactTable .rt-td {
    text-align: center;
  }
  .ReactTable .rt-noData {
    color: #eee;
    background: unset;
  }
  .ReactTable .-pageInfo {
    display: flex;
    align-items: center;
  }

  .ReactTable .-pageJump input {
    width: 2em;
  }
  .ReactTable .-totalPages {
    margin: 0 0.5em;
    &::after {
      content: attr("data-tail");
    }
  }

  .ReactTable {
    .rt-thead {
      font-weight: bold;
    }
  }
}
