@import "./../layout/size";
.settings-menu {
    >li {
        list-style-type: none;
        cursor: pointer;
        padding: 5px 0;
        &:hover {
            background-color: red;
        }
        &.active {
            color: blue;
        }
    }
}

.settings-wrapper {
    .settings-left,
    .settings-main {
        padding: 1em;
    }
    .settings-left {
        grid-area: left;
    }
    .settings-main {
        grid-area: main;
        &>div {
            margin: auto;
        }
    }
    display: grid;
    width: 100%;
    grid-template: "left main" / $width-left-menu auto;
    @media screen and (orientation: portrait),
    (max-width: 600px) {
        grid-template: "left" "main" / auto;
    }
}

.api-node {
    .h3,
    .h4 {
        grid-area: name;
    }
    p {
        grid-area: url;
    }
    .h4,
    .h3,
    p,
    .api-status {
        line-height: 2.4;
    }
    .api-status {
        grid-area: status;
        text-align: right;
        max-width: 12em;
    }
    display: grid;
    height: 5.8em;
    grid-gap: 4px;
    grid-template: "head status" 2.4em "url status" 2.4em / 1fr auto;
    .button {
        display: block;
        width: 100%;
    }
}