.table {
  width: 100%;
}

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  padding: 12px 5px;
  //padding-right: 8px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9rem;
  color: #777;
  text-align: left;
}

.table > tbody > tr > td {
  // border-bottom: 1px solid #ddd;
  padding: 5px;
}

.table > tbody > tr:last-of-type > td {
  border-bottom: none;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
  cursor: pointer;
}

.key-value-table {
  tr > td:first-child {
    padding-left: 0 !important;
  }
  tr > td:last-child {
    text-align: right;
  }
}

.table.compact {
  td, th {
    font-size: 94%;
  }
}

.table-flex {
  @include display-flex( $align-items: stretch, $justify-content: stretch);
  flex-wrap: nowrap;
  .table-head,
  .table-body {
    flex-grow: 1;
    overflow: auto;
    @include display-flex( $align-items: stretch, $justify-content: stretch);
  }
  .table-head {
    flex-shrink: 0;
  }
  .table-body {
    flex-shrink: 1;
    flex-wrap: nowrap; 
  }
  .table-row {
    @include display-flex(row,
    $align-items: stretch, $justify-content: stretch);
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .table-cell {
    flex-shrink: 0;
    flex-basis: 1px;
    flex-grow: 1;
    @for $i from 1 through 3 {
      &.table-col-#{$i} {
        flex-basis: 1px * $i;
        flex-grow: $i;
      }
    }
  }
}
