// Hacks that should get cleaned up and put in appropriate files within the stylesheet layout
// http://sass-guidelin.es/#shame-file
#content.win32 {
  font-size: 90%;
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1rem;
  }
}

a {
  transition: all 0.3s ease 0s;
}

// border is needed when centering
// input[type="file"] did not work
input[type="file"] {
  border: "solid";
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
}

.error {
  color: #ff0000; //padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}

//padding: "2rem 0 2rem 0"  Using top and bottom padding prevents
//unnecessary scroll bars but does not disable them for future use.
.no-overflow-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-content {
  text-align: center;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.flex-start {
  align-items: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

a > .label {
  cursor: pointer;
}

.block-button {
  display: block;
}

button,
.button {
  // transition: all 0.3s ease 0s !important;
  border: 1px solid transparent; //margin: 2px 5px 2px 5px;
  vertical-align: middle;
  &.outline {
    &:hover,
    &:focus,
    &:active {
      background: none !important;
    }
    background: none;
    border: 1px solid #555;
  }
}

td > button:first-child,
td > .button:first-child,
div > button:first-child,
div > .button:first-child {
  margin-left: 0;
}

td > button:last-child,
td > .button:last-child,
div > button:last-child,
div > .button:last-child,
section > .button:last-child {
  margin-right: 0;
}

.notification {
  border-radius: 0 !important;
  top: 50px !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left-width: 4px !important;
  border-left-style: solid !important;
  padding: 1rem !important;
  font-size: 100% !important;
}

.content-block {
  margin-bottom: 2rem;
  > h3,
  .recent-transactions > h3 {
    font-size: 2rem;
    border-bottom: 1px solid #444;
    margin-top: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .actions {
    padding: 1rem 0 1rem 0;
  }
}

.no-border {
  border: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.page-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  h3,
  h1 {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }
  h3 {
    font-size: 2rem;
  }
  h1 + h3 {
    padding-top: 0;
  }
}

table > tbody > tr.control-row > td {
  padding-top: 1rem;
  border-bottom: none;
  vertical-align: middle;
  input {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 8px !important;
  }
  > label {
    margin: 0;
  }
  > input {
    margin-right: 2rem !important;
  }
}

.modal {
  max-width: 700px;
  border-radius: 0px;
}

div.modal {
  // overflow: auto !important;
}

.overflow-visible {
  overflow: visible;
}

.full-width-content > * {
  width: 100%;
}

.op-table > tbody > tr > td:first-child {
  min-width: 12rem;
}

.button-group > .button {
  margin: 0 1rem 1rem 0;
}

.empty-identicon {
  border: 1px solid #008cba;
}

div.disabled,
form.disabled {
  &,
  * {
    opacity: 0.8 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

div.disabled input {
  background-color: #444;
}

.modal-header {
  > h3,
  > h6 {
    margin-bottom: 0;
  }
  margin-bottom: 1rem;
}

.memo {
  font-size: 0.9rem;
  word-break: break-word;
}

div.memo-tip {
  word-break: break-word;
  max-width: 40rem;
}

.invoice {
  .item-name {
    padding: 0.2rem 0 0.2rem 0;
  }
  .item-description {
    padding: 0.2rem 0 0.2rem 0;
    font-size: 90%;
  }
}

span.time {
  white-space: nowrap;
}

section > ul > li.key-value {
  padding: 0.5rem 1rem;
}

label.inline {
  display: inline;
}

.blocks-row {
  > div.grid-block {
    padding-bottom: 0 !important;
  }
}

.electron-only {
  display: none;
}

.electron-only {
  visibility: hidden;
}

#content.electron {
  visibility: visible;
}

.Popover-body {
  max-width: 50rem;
  display: inline-flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  background: hsl(0, 0%, 32%);
  color: white;
  border-radius: 0.05rem;
  .help-content h3 {
    color: white;
  }
}

.Popover-tipShape {
  fill: hsl(0, 0%, 32%);
}

.click-for-help {
  border-bottom: 1px dotted #777;
  cursor: pointer;
}

.asset-flag .label {
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
}

.markets-view-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 90;
}

.small-caps {
  font-variant: small-caps;
  font-size: 85%;
}

.tooltip:hover {
  cursor: help;
}

.tooltip-zindex {
  z-index: 1001;
}

.inline-block {
  display: inline-block;
}

.__react_component_tooltip {
  z-index: 2000 !important;
  border: 1px solid grey;
  max-width: 20rem;
}

.asset-prefix-replaced {
  // text-transform: uppercase;
  font-variant: small-caps;
  text-transform: none;
}

select {
  line-height: normal !important;
}

select.cyb-select {
  border-radius: 5px;
  cursor: pointer;
  height: 2em;
  border: none;
  background: none;
  // background-color: transparent;
  // max-width: 500px;
  border-bottom: 1px solid #444;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

.dashed {
  text-decoration: dashed;
}

.round-corner {
  border-radius: 0.3334em;
}

.windows select.cyb-select {
  height: 2.35em;
}

@media screen and (min-width: 900px) {
  .column-show-small {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .column-hide-tiny {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .column-hide-small {
    display: none !important;
  }
}

@media screen and (max-width: 1100px) {
  .column-hide-medium {
    display: none !important;
  }
}

input,
select,
textarea {
  // border-radius: 5px !important;
  &:focus {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 2px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

.clickable {
  cursor: pointer;
}

@include breakpoint(xlarge) {
  form.hide-container {
    display: inherit !important;
  }
}

.unlock-tooltip {
  min-width: 150px;
}

section input[type="text"],
section input[type="password"] {
  border: none;
  // max-width: 30rem;
  &:hover,
  &:active,
  &:focus {
    border: none;
  }
  &.full {
    max-width: unset;
  }
}

section progress {
  max-width: 30rem;
}

.notification {
  table > tr > td {
    padding-left: 0 !important;
    padding-right: 0 !important;
    span {
      line-height: 1.1rem;
    }
  }
}

.help-tooltip {
  cursor: help;
}

.table-cell {
  display: table-cell;
  h4 {
    font-weight: 600;
  }
  .flex-justify {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.flex-flow-end {
  align-self: flex-end;
}

textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.period-horizontal {
  width: 100%;
  display: flex;
  input {
    margin-bottom: 0;
  }
  select {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

textarea {
  resize: none;
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.overflow-v {
  overflow: visible;
}

li {
  list-style: none;
}

.link {
  cursor: pointer;
}

:focus {
  outline: none;
}

.no-appearance {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
body:not(.native-scroll) {
  /// Scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #171d2a;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  //._scroll-bar {
  //  // padding-right: 6px;
  //  &,
  //  * {
  //    &::-webkit-scrollbar {
  //      @extend.no-appearance;
  //      width: 6px;
  //      height: 6px;
  //      &:window-inactive {
  //        // display: none;
  //      }
  //    }
  //
  //    /* Track */
  //    &::-webkit-scrollbar-track {
  //      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  //      background: rgba(0, 0, 0, 0.6);
  //      border-radius: 10px;
  //      border: 5px solid rgba(0, 0, 0, 0.6);
  //    }
  //    /* Handle */
  //    &::-webkit-scrollbar-thumb {
  //      background: rgba(0, 0, 0, 0.6);
  //      min-height: 2rem;
  //      border-width: 3px;
  //      background-clip: padding-box;
  //      border-radius: 6px;
  //      background: rgba(255, 255, 255, 0.8);
  //      border: 1px solid rgba(255, 255, 255, 0.8);
  //      &:hover,
  //      &:active,
  //      &:focus {
  //        background-color: rgba(0, 0, 0, 1);
  //        border-width: 6px;
  //      }
  //    }
  //    &::-webkit-scrollbar-thumb:window-inactive {
  //      background: rgba(0, 0, 0, 0.1);
  //    }
  //    /* Add a thumb */
  //    &::-moz-scrollbar {
  //      @extend.no-appearance;
  //      width: 6px;
  //      height: 6px;
  //      &:window-inactive {
  //        display: none;
  //      }
  //    }
  //    /* Track */
  //    &::-moz-scrollbar-track {
  //      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  //      background: rgba(0, 0, 0, 0.6);
  //      border-radius: 10px;
  //      border: 5px solid rgba(0, 0, 0, 0.6);
  //    }
  //    /* Handle */
  //    &::-moz-scrollbar-thumb {
  //      // border-width: 3px;
  //      // border-radius: 10px;
  //      background: rgba(0, 0, 0, 0.6);
  //      // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  //      min-height: 2rem;
  //      // background: #ccc;
  //      border-width: 3px;
  //      background-clip: padding-box;
  //      border-radius: 6px;
  //      background: rgba(255, 255, 255, 0.8);
  //      border: 1px solid rgba(255, 255, 255, 0.8);
  //      &:hover,
  //      &:active,
  //      &:focus {
  //        background-color: rgba(0, 0, 0, 1);
  //        border-width: 6px;
  //      }
  //    }
  //    &::-moz-scrollbar-thumb:window-inactive {
  //      background: rgba(0, 0, 0, 0.1);
  //    }
  //    /* Add a thumb */
  //  }
  //
  //  &,
  //  * {
  //    &::-webkit-scrollbar,
  //    &::-webkit-scrollbar-thumb,
  //    &::-webkit-scrollbar-track {
  //      display: none;
  //    }
  //    &:hover {
  //      &::-webkit-scrollbar,
  //      &::-webkit-scrollbar-thumb,
  //      &::-webkit-scrollbar-track {
  //        display: unset;
  //      }
  //    }
  //  }
  //}
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.with-colon {
  &::after {
    content: ":";
    padding-right: 0.5em;
  }
}
.no-border {
  border-width: 0;
}

#react-select-2-input {
  display: none;
}

[data-unit]::after {
  content: attr(data-unit);
  padding-left: 0.4em;
}

.join-wrapper {
  padding: 0 1em;
  .illustration-list,
  .top-list {
    line-height: 1.5;
    margin-bottom: 2em;
  }

  li {
    list-style-type: initial;
    .highlight {
      background: unset;
      color: unset;
      filter: brightness(1.36);
    }
  }

  .input-group {
    height: 3.3334em !important;
  }

  .error-wrapper {
    margin-top: 1em;
  }
}
.top-list {
  display: flex;
  flex-direction: column;
  height: 3.6em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  .item-label {
    color: #ccc;
  }
  .item-lable:not(:first-of-type) {
    padding-left: 1.5em;
  }
}
