
#launcher {
  margin: 0 !important;
  clip-path: polygon(10% 18.75%, 90% 18.75%, 90% 81.25%, 10% 81.25%);
  bottom: -9px !important;
  &.zEWidget-launcher--active {
    // left: 206px !important;
  }
  left: 210px !important;
}

#webWidget {
  left: 80px !important;
}

[data-test-id="ChatWidgetWindow"] {
  right: unset !important;
  left: 80px !important;
  bottom: 10px !important;
}
