
@mixin FlexWrapper($direction: column) {
  display: flex;
  flex-direction: $direction;
  > * {
    flex-grow: 1;
  }
}
.cybex-layout.patch {
  @include FlexWrapper();
  .main-body {
    @include FlexWrapper();
    height: 100%;
    .login-wrapper {
      @include FlexWrapper(row);
    }
  }
  
  .market-layout {
    position: relative;
    height: 100%;
    margin: 0 4px;
    .market-main {
      position: absolute;
      width: 51%;
      left: 24.25%;
      height: 100%;
    }
    .market-markets {
      position: absolute;
      width: 24%;
      height: 50%;
      left: 0;
      top: 0;
    }
    .market-orders {
      position: absolute;
      width: 24%;
      height: 50%;
      left: 0;
      top: 50%;
    }
    .market-orderbook {
      position: absolute;
      width: 24.5%;
      height: 100%;
      left: 75.5%;
      top: 0;
    }
  }
  .settings-wrapper {
    display: flex;
    .settings-left {
      width: 320px;
      flex: 0 0 320px;
    }
  }

}  
