@import "theme-template";

// Colors
$color-white: #ffffff;
$color-orange: #ff9143;
$color-orange-light: #ffc478;
$color-crimson: #d2323e;
$color-grass: #6dbb49;
$color-grass-light: #a9e06e;
$color-blue: #2e5be2;
$color-light: #f7f8fa;
$color-grey-light: rgba(120, 129, 154, 0.3);
$color-grey: #78819a;
$color-dark: #171d2a;
// Sub Colors
$color-rosset: #c87b41;
$color-Bronze: #c86443;
$color-flame: #d24632;
$color-flame-light: #d96250;
//
$color-warn: #c12121;
$color-mahogany: #502d2d;
$color-blush: #ff787c;
//
$color-cyan: #2b756c;
$color-pine: #2d4134;
//
$color-aegean: #356da4;
$color-cobalt: #2e51b0;
$color-lapis: #3d5bb2;
$color-purple: #7b44ae;
$color-porcelain: #eff1f4;
//
$color-lilac: #8f9ab9;
$color-fossil: #707481;
//
$color-lead: #1b2230;
$color-anchor: #212939;
$color-independence: #293246;
$color-noir: #111621;

//
$color-gradient-foilex: linear-gradient(-135deg, #e7ac5f, #e76536);
$color-gradient-goldex: linear-gradient(-131deg, #ffc478, #ff9143);
$color-gradient-grass: linear-gradient(0deg, $color-grass-light, $color-grass);
$color-gradient-flame: linear-gradient(0deg, $color-flame-light, $color-flame);

$color-gradient-silvex: linear-gradient(
  48deg,
  rgba(255, 255, 255, 50),
  rgba(255, 255, 255, 100)
);
$color-gradient-greyex: linear-gradient(
  48deg,
  rgba(120, 129, 154, 50),
  rgba(120, 129, 154, 100)
);

// variables

$primary-text-color: #fff;
$dark-text-color: #444;
$light-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: $color-grey;
$error-text-color: #e3745b;

$bg-color: #171d2a;
$panel-bg-color: $color-lead;
// $panel-bg-color: #171d2a;
$light-panel-bg-color: rgba(53, 55, 60, 0.89);
// $light-panel-bg-color: #353742;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #4a90e2;
$secondary-button-bg-color: #546979;
$input-background: lighten($bg-color, 8%);

$alert-color: $error-text-color;
$info-color: #4a90e2;
$success-color: #18bc9c;
$warning-color: $color-orange;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: $color-grass-light;
$ask-color: $color-flame-light;
$call-color: #bbbf2b;
$positive-color: $color-grass;
$negative-color: $color-flame;
$row-accent-color: #3c3c3c;
$header-color: #484848;

// Chat colors
$chat-text-color: #191a1f;

// Account table view colors
$account-header: $header-color;
$account-cells: #4b5158;
$account-green: #7ed321;
$account-primarytext: white;
$account-dimmed: #afafaf;
$account-border: #323131;
$account-background: $panel-bg-color;

.cybexDarkTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color,
    $input-background,
    $account-header,
    $account-cells,
    $account-green,
    $account-primarytext,
    $account-dimmed,
    $account-border,
    $account-background
  );

  .vest-bottom {
    select.cyb-select {
      background-color: transparent;
    }
  }

  .account-left-panel {
    margin: -1px;
    margin-right: 1px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.65);
  }

  select {
    background-color: $input-background;
    color: $light-text-color;
    border: 0;
    &:disabled {
      background-color: transparent;
    }
  }

  p {
    font-size: 1em;
  }
  

  .nav {
    .nav-items {
      a::after {
        background: $color-gradient-foilex;
      }
    }
    .explorer-nav {
      background-color: $color-dark;
    }
  }
}
