@import "theme-template";
@import "../colors";

// variables

$primary-text-color: #fff;
$dark-text-color: #444;
$light-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: $color-grey;
$error-text-color: #e3745b;

$bg-color: #171d2a;
$panel-bg-color: $color-lead;
// $panel-bg-color: #171d2a;
$light-panel-bg-color: rgba(53, 55, 60, 0.89);
// $light-panel-bg-color: #353742;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #4a90e2;
$secondary-button-bg-color: #546979;
$input-background: lighten($bg-color, 8%);

$alert-color: $error-text-color;
$info-color: #4a90e2;
$success-color: #18bc9c;
$warning-color: $color-orange;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: $color-grass-light;
$ask-color: $color-flame-light;
$call-color: #bbbf2b;
$positive-color: $color-grass;
$negative-color: $color-flame;
$row-accent-color: #3c3c3c;
$header-color: #484848;

// Chat colors
$chat-text-color: #191a1f;

// Account table view colors
$account-header: $header-color;
$account-cells: #4b5158;
$account-green: #7ed321;
$account-primarytext: white;
$account-dimmed: #afafaf;
$account-border: #323131;
$account-background: $panel-bg-color;

.cybexDarkTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color,
    $input-background,
    $account-header,
    $account-cells,
    $account-green,
    $account-primarytext,
    $account-dimmed,
    $account-border,
    $account-background
  );

  .vest-bottom {
    select.cyb-select {
      background-color: transparent;
    }
  }

  .account-left-panel {
    margin: -1px;
    margin-right: 1px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.65);
  }

  select {
    background-color: $input-background;
    color: $light-text-color;
    border: 0;
    &:disabled {
      background-color: transparent;
    }
  }

  p {
    font-size: 1em;
  }
  

  .nav {
    .nav-items {
      a::after {
        background: $color-orange;/*$color-gradient-foilex;*/
      }
    }
    .explorer-nav {
      background-color: $color-dark;
  }
  }
}
